// Variables de couleurs
$color-dark: #01192b;  // Votre bleu foncé
$color-light: #f5f5f5;
$color-primary: #fab92e;  // Votre jaune doré
$color-secondary: #08415C;
$color-text: #fab92e;  // Votre jaune doré pour le texte

// Variables de transition
$transition-normal: 0.3s ease;

// Variables de border-radius
$radius-sm: 0.25rem;
$radius-md: 0.375rem;
$radius-lg: 0.5rem;
$radius-xl: 0.75rem;
$radius-2xl: 1rem;
// Supprimé - créait des ronds au lieu de carrés

// Variables de shadow
$shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
$shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

// Variables de breakpoints
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px; 